<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walletech.dao.mapper.GprsDeviceSendInfoMapper" >
  <resultMap id="BaseResultMap" type="com.walletech.po.GprsDeviceSendInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="connection_type" property="connectionType" jdbcType="INTEGER" />
    <result column="heartbeat_interval" property="heartbeatInterval" jdbcType="INTEGER" />
    <result column="float_interval" property="floatInterval" jdbcType="INTEGER" />
    <result column="discharge_interval" property="dischargeInterval" jdbcType="INTEGER" />
    <result column="charge_interval" property="chargeInterval" jdbcType="INTEGER" />
    <result column="charge_threshold" property="chargeThreshold" jdbcType="DECIMAL" />
    <result column="discharge_threshold" property="dischargeThreshold" jdbcType="DECIMAL" />
    <result column="nominal_capacity" property="nominalCapacity" jdbcType="DECIMAL" />
    <result column="current_capacity" property="currentCapacity" jdbcType="DECIMAL" />
    <result column="vol_high_warning_threshold" property="volHighWarningThreshold" jdbcType="DECIMAL" />
    <result column="vol_low_warning_threshold" property="volLowWarningThreshold" jdbcType="DECIMAL" />
    <result column="tem_high_warning_threshold" property="temHighWarningThreshold" jdbcType="INTEGER" />
    <result column="tem_low_warning_threshold" property="temLowWarningThreshold" jdbcType="INTEGER" />
    <result column="soc_low_warning_threshold" property="socLowWarningThreshold" jdbcType="INTEGER" />
    <result column="send_done" property="sendDone" jdbcType="BIT" />
    <result column="current_warning_toplimit" property="currentWarningToplimit" jdbcType="DECIMAL" />
    <result column="current_warning_lowerlimit" property="currentWarningLowerlimit" jdbcType="DECIMAL" />
    <result column="single_high_vol_threshold" property="singleHighVolThreshold" jdbcType="DECIMAL" />
    <result column="single_low_vol_threshold" property="singleLowVolThreshold" jdbcType="DECIMAL" />
    <result column="high_vol_recover" property="highVolRecover" jdbcType="DECIMAL" />
    <result column="low_vol_recover" property="lowVolRecover" jdbcType="DECIMAL" />
    <result column="single_high_vol_recover" property="singleHighVolRecover" jdbcType="DECIMAL" />
    <result column="single_low_vol_recover" property="singleLowVolRecover" jdbcType="DECIMAL" />
    <result column="high_surroundingtem_warning_threshold" property="highSurroundingtemWarningThreshold" jdbcType="INTEGER" />
    <result column="low_surroundingtem_warning_threshold" property="lowSurroundingtemWarningThreshold" jdbcType="INTEGER" />
    <result column="high_surroundingtem_warning_recover" property="highSurroundingtemWarningRecover" jdbcType="INTEGER" />
    <result column="low_surroundingtem_warning_recover" property="lowSurroundingtemWarningRecover" jdbcType="INTEGER" />
    <result column="hightem_warning_recover" property="hightemWarningRecover" jdbcType="INTEGER" />
    <result column="lowtem_warning_recover" property="lowtemWarningRecover" jdbcType="INTEGER" />
    <result column="low_soc_recover" property="lowSocRecover" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gprs_id, insert_time, connection_type, heartbeat_interval, float_interval, discharge_interval, 
    charge_interval, charge_threshold, discharge_threshold, nominal_capacity, current_capacity, 
    vol_high_warning_threshold, vol_low_warning_threshold, tem_high_warning_threshold, 
    tem_low_warning_threshold, soc_low_warning_threshold, send_done, current_warning_toplimit, 
    current_warning_lowerlimit, single_high_vol_threshold, single_low_vol_threshold, 
    high_vol_recover, low_vol_recover, single_high_vol_recover, single_low_vol_recover, 
    high_surroundingtem_warning_threshold, low_surroundingtem_warning_threshold, high_surroundingtem_warning_recover, 
    low_surroundingtem_warning_recover, hightem_warning_recover, lowtem_warning_recover, 
    low_soc_recover
  </sql>
  <select id="pollingGprsDeviceSend" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select t1.*
    from gprs_device_send t1 , gprs_connection_info t2
    where t1.gprs_id = t2.gprs_id and t2.link_status = 1 and t2.server_num = #{serverNum} and t1.send_done = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gprs_device_send
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.walletech.po.GprsDeviceSendInfo" >
    update gprs_device_send
    set send_done = #{sendDone,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateSuccessByGprsId" parameterType="String">
    update gprs_device_send
    set send_done = 2
    where gprs_id = #{gprsId} and send_done = 1 order by id limit 1
  </update>

  <update id="updateFailedByGprsId" parameterType="String">
    update gprs_device_send
    set send_done = 3
    where gprs_id = #{gprsId} and send_done = 1 order by id limit 1
  </update>

  <update id="sendMsgTimeOut" parameterType="java.lang.Integer">
    update gprs_device_send
    set send_done = 7
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>