<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walletech.dao.mapper.ModifyGprsIdInfoMapper" >
  <resultMap id="BaseResultMap" type="com.walletech.po.ModifyGprsIdInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
    <result column="inner_id" property="innerId" jdbcType="VARCHAR" />
    <result column="outer_id" property="outerId" jdbcType="VARCHAR" />
    <result column="send_done" property="sendDone" jdbcType="BIT" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, gprs_id, inner_id, outer_id, send_done, time, state
  </sql>
  <select id="pollingModifyGprsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select t1.*
    from modify_gprsid_send t1,gprs_connection_info t2
    where t1.gprs_id = t2.gprs_id and t2.link_status = 1 and t2.server_num = #{serverNum} and t1.send_done = 0
          and t1.type is not null and t1.gprs_id is not null and t1.inner_id is not null and t1.outer_id is not null
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from modify_gprsid_send
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.walletech.po.ModifyGprsIdInfo" >
    insert into modify_gprsid_send (id, type, gprs_id, 
      inner_id, outer_id, send_done, 
      time, state)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{gprsId,jdbcType=VARCHAR}, 
      #{innerId,jdbcType=VARCHAR}, #{outerId,jdbcType=VARCHAR}, #{sendDone,jdbcType=BIT}, 
      #{time,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.walletech.po.ModifyGprsIdInfo" >
    insert into modify_gprsid_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="gprsId != null" >
        gprs_id,
      </if>
      <if test="innerId != null" >
        inner_id,
      </if>
      <if test="outerId != null" >
        outer_id,
      </if>
      <if test="sendDone != null" >
        send_done,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="gprsId != null" >
        #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="innerId != null" >
        #{innerId,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="sendDone != null" >
        #{sendDone,jdbcType=BIT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateModifyGprsIdInfo" parameterType="com.walletech.po.ModifyGprsIdInfo" >
    update modify_gprsid_send
    <set >
      <if test="sendDone != null" >
        send_done = #{sendDone,jdbcType=BIT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.walletech.po.ModifyGprsIdInfo" >
    update modify_gprsid_send
    set type = #{type,jdbcType=INTEGER},
      gprs_id = #{gprsId,jdbcType=VARCHAR},
      inner_id = #{innerId,jdbcType=VARCHAR},
      outer_id = #{outerId,jdbcType=VARCHAR},
      send_done = #{sendDone,jdbcType=BIT},
      time = #{time,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkTimeOut" resultMap="BaseResultMap" parameterType="com.walletech.po.ModifyGprsIdInfo">
    select * from modify_gprsid_send
    where id = #{id,jdbcType=INTEGER} and send_done = #{sendDone,jdbcType=BIT}
  </select>
</mapper>