<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walletech.dao.mapper.VerifyCapacityMapper" >
  <resultMap id="BaseResultMap" type="com.walletech.po.VerifyCapacity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
    <result column="cmd" property="cmd" jdbcType="INTEGER" />
    <result column="send_done" property="sendDone" jdbcType="TINYINT" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gprs_id, cmd, send_done, send_time, created_time
  </sql>
  <select id="pollingVerifyCapacity" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select t1.*
    from verify_capacity_send t1,gprs_connection_info t2
    where t1.gprs_id = t2.gprs_id and t2.link_status = 1 and t2.server_num = #{serverNum} and t1.send_done = 0 and t1.created_time &gt;= now()
    group by t1.gprs_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from verify_capacity_send
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.walletech.po.VerifyCapacity" >
    insert into verify_capacity_send (id, gprs_id, cmd, 
      send_done, send_time, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{gprsId,jdbcType=VARCHAR}, #{cmd,jdbcType=INTEGER}, 
      #{sendDone,jdbcType=TINYINT}, #{sendTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.walletech.po.VerifyCapacity" >
    insert into verfiy_capacity_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gprsId != null" >
        gprs_id,
      </if>
      <if test="cmd != null" >
        cmd,
      </if>
      <if test="sendDone != null" >
        send_done,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gprsId != null" >
        #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="cmd != null" >
        #{cmd,jdbcType=INTEGER},
      </if>
      <if test="sendDone != null" >
        #{sendDone,jdbcType=TINYINT},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateVerifyCapacity" parameterType="com.walletech.po.VerifyCapacity" >
    update verify_capacity_send
    <set >
      <if test="sendDone != null" >
        send_done = #{sendDone,jdbcType=TINYINT},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.walletech.po.VerifyCapacity" >
    update verify_capacity_send
    set gprs_id = #{gprsId,jdbcType=VARCHAR},
      cmd = #{cmd,jdbcType=INTEGER},
      send_done = #{sendDone,jdbcType=TINYINT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkTimeOut" resultMap="BaseResultMap" parameterType="com.walletech.po.VerifyCapacity">
    select * from verify_capacity_send
    where id = #{id} and send_done = #{sendDone}
  </select>
</mapper>