<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walletech.dao.mapper.WarningInfoLatestMapper" >
  <resultMap id="BaseResultMap" type="com.walletech.po.WarningInfoLatest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="station_id" property="stationId" jdbcType="INTEGER" />
    <result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
    <result column="rcv_time" property="rcvTime" jdbcType="TIMESTAMP" />
    <result column="cell_tem_high" property="cellTemHigh" jdbcType="BIT" />
    <result column="env_tem_high" property="envTemHigh" jdbcType="BIT" />
    <result column="cell_tem_low" property="cellTemLow" jdbcType="BIT" />
    <result column="env_tem_low" property="envTemLow" jdbcType="BIT" />
    <result column="gen_vol_high" property="genVolHigh" jdbcType="BIT" />
    <result column="gen_vol_low" property="genVolLow" jdbcType="BIT" />
    <result column="loss_electricity" property="lossElectricity" jdbcType="BIT" />
    <result column="soc_low" property="socLow" jdbcType="BIT" />
    <result column="abnormal_current" property="abnormalCurrent" jdbcType="TINYINT" />
    <result column="single_vol_high" property="singleVolHigh" jdbcType="TINYINT" />
    <result column="single_vol_low" property="singleVolLow" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, station_id, gprs_id, rcv_time, cell_tem_high, env_tem_high, cell_tem_low, env_tem_low, 
    gen_vol_high, gen_vol_low, loss_electricity, soc_low, abnormal_current, single_vol_high, 
    single_vol_low
  </sql>

  <insert id="replaceIntoWarningInfoLatest">
    replace into warning_info_latest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="gprsId != null" >
        gprs_id,
      </if>
      <if test="rcvTime != null" >
        rcv_time,
      </if>
      <if test="cellTemHigh != null" >
        cell_tem_high,
      </if>
      <if test="envTemHigh != null" >
        env_tem_high,
      </if>
      <if test="cellTemLow != null" >
        cell_tem_low,
      </if>
      <if test="envTemLow != null" >
        env_tem_low,
      </if>
      <if test="genVolHigh != null" >
        gen_vol_high,
      </if>
      <if test="genVolLow != null" >
        gen_vol_low,
      </if>
      <if test="lossElectricity != null" >
        loss_electricity,
      </if>
      <if test="socLow != null" >
        soc_low,
      </if>
      <if test="abnormalCurrent != null" >
        abnormal_current,
      </if>
      <if test="singleVolHigh != null" >
        single_vol_high,
      </if>
      <if test="singleVolLow != null" >
        single_vol_low,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="gprsId != null" >
        #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="rcvTime != null" >
        #{rcvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cellTemHigh != null" >
        #{cellTemHigh,jdbcType=BIT},
      </if>
      <if test="envTemHigh != null" >
        #{envTemHigh,jdbcType=BIT},
      </if>
      <if test="cellTemLow != null" >
        #{cellTemLow,jdbcType=BIT},
      </if>
      <if test="envTemLow != null" >
        #{envTemLow,jdbcType=BIT},
      </if>
      <if test="genVolHigh != null" >
        #{genVolHigh,jdbcType=BIT},
      </if>
      <if test="genVolLow != null" >
        #{genVolLow,jdbcType=BIT},
      </if>
      <if test="lossElectricity != null" >
        #{lossElectricity,jdbcType=BIT},
      </if>
      <if test="socLow != null" >
        #{socLow,jdbcType=BIT},
      </if>
      <if test="abnormalCurrent != null" >
        #{abnormalCurrent,jdbcType=TINYINT},
      </if>
      <if test="singleVolHigh != null" >
        #{singleVolHigh,jdbcType=TINYINT},
      </if>
      <if test="singleVolLow != null" >
        #{singleVolLow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateWarningInfoLatest" parameterType="com.walletech.po.WarningInfo">
      update warning_info_latest
      <set>
        <if test="gprsId != null" >
          gprs_id = #{gprsId,jdbcType=VARCHAR},
        </if>
        <if test="rcvTime != null" >
          rcv_time = #{rcvTime,jdbcType=TIMESTAMP},
        </if>
        <if test="cellTemHigh != null" >
          cell_tem_high = #{cellTemHigh,jdbcType=BIT},
        </if>
        <if test="envTemHigh != null" >
          env_tem_high = #{envTemHigh,jdbcType=BIT},
        </if>
        <if test="cellTemLow != null" >
          cell_tem_low = #{cellTemLow,jdbcType=BIT},
        </if>
        <if test="envTemLow != null" >
          env_tem_low = #{envTemLow,jdbcType=BIT},
        </if>
        <if test="genVolHigh != null" >
          gen_vol_high = #{genVolHigh,jdbcType=BIT},
        </if>
        <if test="genVolLow != null" >
          gen_vol_low = #{genVolLow,jdbcType=BIT},
        </if>
        <if test="lossElectricity != null" >
          loss_electricity = #{lossElectricity,jdbcType=BIT},
        </if>
        <if test="socLow != null" >
          soc_low = #{socLow,jdbcType=BIT},
        </if>
        <if test="abnormalCurrent != null" >
          abnormal_current = #{abnormalCurrent,jdbcType=TINYINT},
        </if>
        <if test="singleVolHigh != null" >
          single_vol_high = #{singleVolHigh,jdbcType=TINYINT},
        </if>
        <if test="singleVolLow != null" >
          single_vol_low = #{singleVolLow,jdbcType=TINYINT},
        </if>
      </set>
      where station_id = #{stationId,jdbcType=INTEGER}
  </update>


  <insert id="insertIntoWarningInfoLatest">
    insert into warning_info_latest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="gprsId != null" >
        gprs_id,
      </if>
      <if test="rcvTime != null" >
        rcv_time,
      </if>
      <if test="cellTemHigh != null" >
        cell_tem_high,
      </if>
      <if test="envTemHigh != null" >
        env_tem_high,
      </if>
      <if test="cellTemLow != null" >
        cell_tem_low,
      </if>
      <if test="envTemLow != null" >
        env_tem_low,
      </if>
      <if test="genVolHigh != null" >
        gen_vol_high,
      </if>
      <if test="genVolLow != null" >
        gen_vol_low,
      </if>
      <if test="lossElectricity != null" >
        loss_electricity,
      </if>
      <if test="socLow != null" >
        soc_low,
      </if>
      <if test="abnormalCurrent != null" >
        abnormal_current,
      </if>
      <if test="singleVolHigh != null" >
        single_vol_high,
      </if>
      <if test="singleVolLow != null" >
        single_vol_low,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="gprsId != null" >
        #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="rcvTime != null" >
        #{rcvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cellTemHigh != null" >
        #{cellTemHigh,jdbcType=BIT},
      </if>
      <if test="envTemHigh != null" >
        #{envTemHigh,jdbcType=BIT},
      </if>
      <if test="cellTemLow != null" >
        #{cellTemLow,jdbcType=BIT},
      </if>
      <if test="envTemLow != null" >
        #{envTemLow,jdbcType=BIT},
      </if>
      <if test="genVolHigh != null" >
        #{genVolHigh,jdbcType=BIT},
      </if>
      <if test="genVolLow != null" >
        #{genVolLow,jdbcType=BIT},
      </if>
      <if test="lossElectricity != null" >
        #{lossElectricity,jdbcType=BIT},
      </if>
      <if test="socLow != null" >
        #{socLow,jdbcType=BIT},
      </if>
      <if test="abnormalCurrent != null" >
        #{abnormalCurrent,jdbcType=TINYINT},
      </if>
      <if test="singleVolHigh != null" >
        #{singleVolHigh,jdbcType=TINYINT},
      </if>
      <if test="singleVolLow != null" >
        #{singleVolLow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

</mapper>